@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@100&display=swap");

body {
  font-family: "Comfortaa", cursive;
  margin: 0;
  overflow-x: hidden;
}

nav {
  background-color: #004068;
  padding: 1rem;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.container {
  border-radius: 10px;
  background: #004068;
  width: 50%;
  margin: auto;
  margin-top: 100px;
  margin-top: 50px;
  padding: 20px;
}

.header {
  text-align: center;
  margin: 20px;
  color: #fff;
}

.label-input {
  display: grid;
  place-items: center;
}

p {
  padding: 5px;
  margin: 10px;
}

label {
  display: block;
  margin: auto;
  padding: 5px;
}

input {
  width: 50%;
  margin: auto;
}

.input-label {
  display: grid;
  place-items: center;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
  color: white;
}

input {
  display: block;
  width: 50%;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border: 2px solid wheat;
  border-radius: 5px;
  color: #004068;
}

input:focus {
  outline: none;
  border: 2px solid yellow;
  border-radius: 5px;
}

#calc-btn {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid yellow;
  background-color: wheat;
  color: #004068;
  cursor: pointer;
  margin: 0.75rem 0;
}

#calc-btn:hover {
  background-color: #004068;
  color: white;
  font-weight: 700;
}

#output {
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

footer {
  position: absolute;
  background: #000000;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
  width: 100%;
  bottom: 0px;
}

footer span a {
  color: crimson;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}
