@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Roboto:wght@100&display=swap');

body {
  font-family: 'Comfortaa', cursive;
  margin: 0;
  overflow-x: hidden;
}

:root {
  --primary-color: #004068;
  --secondary-color: white;
  --wheat-color: wheat;
  --github-color: black;
  --linkedin-color: #0976b4;
  --twitter-color: #55acee;
  --insta-color: crimson;
}

nav {
  background-color: #004068;
  padding: 1rem;
}
ul {
  display: flex;
  justify-content: center;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.container {
  border-radius: 10px;
  background: #004068;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
}

.header {
  text-align: center;
  margin: 20px;
  color: #fff;
}

.label-input {
  display: grid;
  place-items: center;
}

p {
  padding: 5px;
  margin: 10px;
}

label {
  display: block;
  margin: auto;
  padding: 5px;
}

input {
  width: 50%;
  margin: auto;
}

.input-label {
  display: grid;
  place-items: center;
}

label {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0;
  color: white;
}

input {
  display: block;
  width: 50%;
  font-size: 20px;
  padding: 0.5rem 1rem;
  border: 2px solid wheat;
  border-radius: 5px;
  color: #004068;
}

input:focus {
  outline: none;
  border: 2px solid yellow;
  border-radius: 5px;
}

#calc-btn {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid yellow;
  background-color: wheat;
  color: #004068;
  cursor: pointer;
  margin: 0.75rem 0;
}

#calc-btn:hover {
  background-color: #004068;
  color: white;
  font-weight: 700;
}

#output {
  color: white;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

/* footer section styling */
footer {
  background: var(--primary-color);
  padding: 15px 23px;
  color: var(--secondary-color);
  text-align: center;
  font-family: 'Comfortaa', cursive;
  margin-top: 20px;
}
footer span a {
  color: var(--wheat-color);
  text-decoration: none;
}
footer span a:hover {
  text-decoration: underline;
}
.social-buttons {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  padding-bottom: 5px;
  border-radius: 10px;
  margin: 20px 10px;
}
.social-buttons .social-margin {
  margin-right: 15px;
}

.social-buttons .social-icon {
  margin-bottom: 15px;
  box-sizing: border-box;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}

.social-buttons .social-icon.twitter {
  font-size: 22px;
  padding-top: 10px;
  padding-left: 2px;
  border-color: var(--twitter-color);
  background-color: var(--twitter-color);
  color: var(--secondary-color);
}
.social-buttons .social-icon.twitter:hover {
  background-color: var(--secondary-color);
  color: var(--twitter-color);
}
.social-buttons .social-icon.linkedin {
  font-size: 24px;
  padding-top: 8px;
  padding-left: 1px;
  background-color: var(--linkedin-color);
  color: var(--secondary-color);
  border-color: var(--linkedin-color);
}
.social-buttons .social-icon.linkedin:hover {
  background-color: var(--secondary-color);
  color: var(--linkedin-color);
}
.social-buttons .social-icon.instagram {
  font-size: 22px;
  padding-top: 9px;
  background-color: var(--insta-color);
  color: var(--secondary-color);
  border-color: var(--insta-color);
}
.social-buttons .social-icon.instagram:hover {
  background-color: var(--secondary-color);
  color: var(--insta-color);
}
.social-buttons .social-icon.github {
  font-size: 22px;
  padding-top: 9px;
  background-color: var(--github-color);
  color: var(--secondary-color);
  border-color: var(--github-color);
}
.social-buttons .social-icon.github:hover {
  background-color: var(--secondary-color);
  color: var(--github-color);
}
